body{
    background-color: #C8B6A6;
}
.login{
    background-color: #C8B6A6;
    padding-top: 4em;
    padding-bottom: 4em;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.container-fluid{
    align-items: center;
}
.main-content{
	width: 80%;
	border-radius: 20px;
	box-shadow: 0 5px 5px #5d5d5d;
	margin: 5em auto;
	display: flex;
}
.company__info{
	background-color: #5d5d5d;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #fff;
}
.fa-android{
	font-size:3em;
}
input{
    width: 100%;
}
.error{
    background-color: #F2DEDE;
    color: #A94442;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    margin: 20px auto;
}
/* ============= HOME.PHP ============= */
.welcome{
    text-align: center;
    color: #5d5d5d;
}
a{
    float: right;
    background-color: #555;
    padding: 10px 15px;
    color: #5d5d5d;
    border-radius: 5px;
    margin-right: 10px;
    border: none;
    text-decoration: none;
}
a:hover{
    opacity: 0.7;
}

@media screen and (max-width: 640px) {
	.main-content{width: 90%;}
	.company__info{
		display: none;
	}
	.login_form{
		border-top-left-radius:20px;
		border-bottom-left-radius:20px;
	}
}
@media screen and (min-width: 642px) and (max-width:800px){
	.main-content{width: 70%;}
}
.row > h2{
	color:#5d5d5d;
}
.login_form{
	background-color: #fff;
	border-top-right-radius:20px;
	border-bottom-right-radius:20px;
	border-top:1px solid #ccc;
	border-right:1px solid #ccc;
    width: 100%;
}
form{
	padding: 0 2em;
}
.form__input{
	width: 100%;
	border:0px solid transparent;
	border-radius: 0;
	border-bottom: 1px solid #aaa;
	padding: 1em .5em .5em;
	padding-left: 2em;
	outline:none;
	margin:1.5em auto;
	transition: all .5s ease;
}
.form__input:focus{
	border-bottom-color: #5d5d5d;
	box-shadow: 0 0 5px #5d5d5d; 
	border-radius: 4px;
}
.btn{
	transition: all .5s ease;
	width: 70%;
	border-radius: 30px;
	color:#5d5d5d;
	font-weight: 600;
	background-color: #fff;
	border: 1px solid #5d5d5d;
	margin-top: 1.5em;
	margin-bottom: 1em;
}
.btn:hover, .btn:focus{
	background-color: #5d5d5d;
	color:#fff;
}